<head>
<style>

p {
  font-family: Avenir, Helvetica, sans-serif;
}
.left-nav-column {
  border: 2px solid #5fc4fa;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px 0px 10px 10px;
  height: 100%;
  background-color: #bee3f7;
  font-color: #1A1A1A;
}

h1, h2, h3 {
  font-color: #1A1A1A;
  font-family: Avenir, Helvetica, sans-serif;
}

</style>
</head>
<body>
<h1>SmallBytes.io</h1>

<div class="left-nav-column" id="left-nav-column">
  <h3>Small's Law of Dog Poop</h3>
  <p>
  If your flashlight doesn't find it,
  your shoe will.
  <p>
</div>
</body>
